<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.external.api.mapper.DummyMapper">

    <select id="pickRandom" resultType="com.external.api.domain.Snapshot">
        SELECT *
        FROM snapshot_pools
        WHERE snapshot_id IN (
            SELECT snapshot_id
            FROM (
                SELECT MIN(snapshot_id) AS snapshot_id
                FROM snapshot_pools
                WHERE user_id IS NULL
                GROUP BY snapshot_date
            ) AS temp
        )
        ORDER BY RAND()
        LIMIT #{count}
    </select>

    <!-- ✅ 출금 내역 조회 (ENUM 매핑 포함) -->
    <resultMap id="WithdrawalResultMap" type="com.external.api.domain.Withdrawal">
        <id property="transactionId" column="transaction_id"/>
        <result property="userId" column="user_id"/>
        <result property="amount" column="amount"/>
        <result property="transactionCategory" column="transaction_category"
                typeHandler="com.external.api.handler.WithdrawalCategoryTypeHandler"/>
        <result property="tranDate" column="transaction_date"/>
    </resultMap>

    <select id="getAll" resultMap="WithdrawalResultMap">
        SELECT * FROM withdrawal_pools WHERE user_id IS NULL
    </select>

    <select id="pickOneRandom" resultType="com.external.api.domain.Composition">
        SELECT *
        FROM composition_pools
        WHERE user_id IS NULL
        ORDER BY RAND() LIMIT 1
    </select>

</mapper>