<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.external.asset.mapper.DummyMapper">

    <select id="getMappableSnapshotCount" resultType="int">
        SELECT COUNT(DISTINCT snapshot_date)
        FROM snapshot_pools
        WHERE user_id IS NULL
    </select>

    <select id="pickRandom" resultType="com.external.asset.domain.Snapshot">
        SELECT *
        FROM snapshot_pools
        WHERE snapshot_id IN (
            SELECT snapshot_id
            FROM (
                SELECT MIN(snapshot_id) AS snapshot_id
                FROM snapshot_pools
                WHERE user_id IS NULL
                GROUP BY snapshot_date
            ) AS temp
        )
        LIMIT #{count} OFFSET #{offset}
    </select>

    <!-- ✅ 출금 내역 조회 (ENUM 매핑 포함) -->
    <resultMap id="WithdrawalResultMap" type="com.external.asset.domain.Withdrawal">
        <id property="transactionId" column="transaction_id"/>
        <result property="userId" column="user_id"/>
        <result property="amount" column="amount"/>
        <result property="transactionCategory" column="transaction_category"
                typeHandler="com.external.asset.handler.WithdrawalCategoryTypeHandler"/>
        <result property="tranDate" column="transaction_date"/>
    </resultMap>

    <select id="getAll" resultMap="WithdrawalResultMap">
        SELECT * FROM withdrawal_pools WHERE user_id IS NULL
    </select>

    <select id="getMappableWithdrawalCount" resultType="int">
        SELECT COUNT(*)
        FROM withdrawal_pools
        WHERE user_id IS NULL AND amount <![CDATA[ < ]]> #{cap}
    </select>

    <select id="pickRandomWithdrawals" resultMap="WithdrawalResultMap">
        SELECT *
        FROM withdrawal_pools
        WHERE user_id IS NULL AND amount <![CDATA[ < ]]> #{cap}
        LIMIT #{count} OFFSET #{offset}
    </select>

    <select id="getMappableCompositionCount" resultType="int">
        SELECT COUNT(*)
        FROM composition_pools
        WHERE user_id IS NULL
    </select>

    <select id="pickOneRandom" resultType="com.external.asset.domain.Composition">
        SELECT *
        FROM composition_pools
        WHERE user_id IS NULL
        LIMIT 1 OFFSET #{offset}
    </select>

</mapper>