<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.external.portfolio.mapper.DummyMapper">


    <!-- ✅ 출금 내역 조회 (ENUM 매핑 포함) -->
    <resultMap id="TransactionResultMap" type="com.external.portfolio.domain.Transaction">
        <id property="transactionId" column="transaction_id"/>
        <result property="userId" column="user_id"/>
        <result property="transactionType" column="transaction_type"
                typeHandler="com.external.portfolio.handler.TransactionTypeTypeHandler"/>
        <result property="amount" column="amount"/>
        <result property="transactionCategory" column="transaction_category"
                typeHandler="com.external.portfolio.handler.TransactionCategoryTypeHandler"/>
        <result property="tranDate" column="tran_date"/>
    </resultMap>


    <select id="getMappableCompositionCount" resultType="int">
        SELECT COUNT(*)
        FROM composition_pools
        WHERE user_id IS NULL
    </select>

    <select id="pickOneRandom" resultType="com.external.portfolio.domain.Composition">
        SELECT *
        FROM composition_pools
        WHERE user_id IS NULL
        LIMIT 1 OFFSET #{offset}
    </select>

    <select id="pickRandomTransactions" resultMap="TransactionResultMap">
        SELECT *
        FROM transaction_pools
        WHERE user_id IS NULL
        LIMIT #{count} OFFSET #{offset}
    </select>

    <select id="getMappableTransactionCount" resultType="int">
        SELECT COUNT(*)
        FROM transaction_pools
        WHERE user_id IS NULL
    </select>

</mapper>