<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.external.portfolio.mapper.UserAssetMapper">

    <select id="findSnapshotsByUserId" resultType="com.external.portfolio.domain.Snapshot">
        SELECT *
        FROM snapshot_pools
        WHERE user_id = #{userId}
        ORDER BY snapshot_date DESC
    </select>

    <select id="findTransactionByUserId" resultType="com.external.portfolio.domain.Transaction">
        SELECT *
        FROM transaction_pools
        WHERE user_id = #{userId}
        ORDER BY tran_date DESC
    </select>

    <select id="findCompositionByUserId" resultType="com.external.portfolio.domain.Composition">
        SELECT *
        FROM composition_pools
        WHERE user_id = #{userId} LIMIT 1
    </select>

    <update id="assignTransactionPools">
        UPDATE transaction_pools
        SET user_id = #{userId}
        WHERE transaction_id IN
        <foreach item="transaction" collection="transactions" open="(" separator="," close=")">
            #{transaction.transactionId}
        </foreach>
        AND user_id IS NULL
    </update>

    <insert id="assignSnapshotPools">
        INSERT INTO snapshot_pools (user_id, balance, snapshot_date)
        VALUES
        <foreach collection="snapshots" item="snapshot" separator=",">
            (#{userId}, #{snapshot.balance}, #{snapshot.snapshotDate})
        </foreach>
    </insert>

    <update id="assignCompositionPool">
        UPDATE composition_pools
        SET user_id = #{userId}
        WHERE composition_id = #{composition.compositionId}
    </update>

    <select id="pickNewComposition" resultType="com.external.portfolio.domain.Composition">
        SELECT *
        FROM composition_pools
        WHERE user_id IS NULL
            LIMIT 1;
    </select>
</mapper>
