<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.external.portfolio.mapper.UserAssetMapper">

    <select id="findSnapshotsByfintechUseNum" resultType="com.external.portfolio.domain.Snapshot">
        SELECT *
        FROM snapshot_pools
        WHERE fintech_use_num = #{fintechUseNum}
        ORDER BY snapshot_date DESC
    </select>

    <select id="findTransactionByfintechUseNum" resultType="com.external.portfolio.domain.Transaction">
    <![CDATA[
        SELECT *
        FROM transaction_pools
        WHERE fintech_use_num = #{fintechUseNum}
          AND tran_date >= #{start}
          AND tran_date < #{end}
        ORDER BY tran_date DESC
        ]]>
</select>

    <update id="assignTransactionPools">
        UPDATE transaction_pools
        SET user_id = #{userId}
        WHERE transaction_id IN
        <foreach item="transaction" collection="transactions" open="(" separator="," close=")">
            #{transaction.transactionId}
        </foreach>
        AND user_id IS NULL
    </update>

    <insert id="assignSnapshotPools">
        INSERT INTO snapshot_pools (fintech_use_num, balance, snapshot_date)
        VALUES
        <foreach collection="snapshots" item="snapshot" separator=",">
            (#{fintechUseNum}, #{snapshot.balance}, #{snapshot.snapshotDate})
        </foreach>
        ON DUPLICATE KEY UPDATE
        balance = VALUES(balance)
    </insert>

    <select id="findCompositionByfintechUseNum" resultType="com.external.portfolio.domain.Composition">
        SELECT *
        FROM composition_pools
        WHERE fintech_use_num = #{fintechUseNum};
    </select>
</mapper>
