<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.external.auth.mapper.AuthMapper">

    <insert id="createUser" parameterType="com.external.auth.domain.UserVO">
        INSERT INTO users (user_id, bank, account_num, fintech_use_num)
        VALUES (#{userId}, #{bank}, #{accountNum}, #{fintechUseNum})
    </insert>

    <select id="findByUserId" resultType="com.external.auth.domain.UserVO" parameterType="java.math.BigInteger">
        SELECT * FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="findFintechUseNumByUserId" parameterType="java.math.BigInteger" resultType="java.lang.String">
        SELECT fintech_use_num
        FROM users
        WHERE user_id = #{userId}
    </select>

</mapper>
