<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.external.user.mapper.UserMapper">

    <insert id="createUser" parameterType="com.external.user.domain.User">
        INSERT INTO users (user_id, bank, created_at)
        VALUES (#{userId}, #{bank}, #{createdAt})
            ON DUPLICATE KEY UPDATE
                                 bank = VALUES(bank),
                                created_at = VALUES(created_at)
    </insert>

    <insert id="createPortfolio">
        INSERT INTO portfolios (user_id, fintech_use_num)
        VALUES (#{userId}, #{fintechUseNum})
            ON DUPLICATE KEY UPDATE
                                 fintech_use_num = VALUES(fintech_use_num)
    </insert>

    <select id="findFintechUseNumByUserId" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT fintech_use_num
        FROM portfolios
        WHERE user_id = #{userId}
    </select>

</mapper>
